<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | FlySmart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Login to FlySmart</h2>
        {% if error %}<p style="color: red;">{{ error }}</p>{% endif %}
        <form action="{{ url_for('login') }}" method="POST">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>        
        <p class="signup-text">Don't have an account? <a href="{{ url_for('register') }}" class="signup-link">SignUp</a></p>        
    </div>
    <script src=" {{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
